@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --black:black;
    --white-grey:#f2f2f2;
    --body-text:#676e8b;
    --red:red;
    --orange:orange;
    --white:white;
    --grey:grey;
}
body{
    /* font-family: 'Noto Sans NKo', monospace; */
    font-family: 'Roboto Condensed', monospace;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
nav{
    background: var(--white);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 20px 0 rgb(11 7 110 / 12%);
    z-index: 100;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.nav-top{
    display:flex;
    justify-content: space-between;
}
.nav-top input{
    padding: 12px;
    border: solid #676e8b 1px;
    border-radius: 8px;
    width: 300px;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    padding: 0 10px;
}
.nav-links a:hover{
    color: var(--body-text);
    border-bottom: 2px solid var(--body-text);
}
.start{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index header{
    width: 63vw;
}
.index .sub-title{
    padding: 10px 0;
}
.tag{
    background: var(--body-text);
    position: fixed;
    top: 20vh;
    left: 44vw;
    padding:10px 20px;
    border-radius: 20px;
    z-index: 110;
    cursor: pointer;
}
.error{
    color: var(--orange);
}
.blog-tag{
    border-radius: 10px;
    background: var(--black);
    color: var(--white);
    padding: 0 30px ;
}
.blog-item{
    display: grid;
    grid-template-columns: 400px 400px;
    width: fit-content;
    margin: 50px 0;
    line-height: 25px;
    border-bottom: solid 1px var(--grey);
}
.blog-item .blog-title{
    margin-bottom: 20px;
}
.blog-item img{
    width: 350px;
    height: 250px;
    border-radius: 15px;
}
.blog-item .snippet{
    width: fit-content;
}
/* footer */
footer{
    padding: 10px 20px 30px 30px;
    background: var(--body-text);
}
